.arrow {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 43px;
  height: 43px;
  cursor: pointer;
  opacity: 0.8;
  transition: 250ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px rgba(102, 62, 62, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.arrow:hover {
  opacity: 1;
  transform: scale(1.05);
}
.icon{
  margin-right: 2px;
}