@import '../styles/variables.scss';
.img{
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
    padding-top: 50px;
}
.title{
 font-family: $arima;
 font-size: 100px;
 font-weight: 600;
 text-align: center;
 padding-bottom: 20px;
}
.text{
 font-family: $roboto;
 font-size: 15px;
 font-weight: 200;

 text-align: center;
 padding-bottom: 20px;
}
.btn{
    color:black;
  
    padding: 15px;
    margin: 0 auto;
    display: block;
    background-color: $brown;
   
}

.not_found_page{
    background-color: $belge;
    padding-bottom: 50px;
}