@import "variables.scss";

.calendarPage {
    width: 100vw;
    margin: 0 auto;
    padding: 0 0 20px 0;
    background-color: $belge;
}
.calendar {
    display: grid;
    gap: 20px;
    grid-template: repeat(1, auto);
    margin: 0 auto 20px auto;
    padding: 35px 25px 0 25px;
    @media screen and (min-width: 768px) {
        grid-template: repeat(1, auto) / repeat(2, auto);
    }
    @media screen and (min-width: 1024px) {
        grid-template: repeat(1, auto) / repeat(3, auto);
    }
    @media screen and (min-width: 1200px) {
    grid-template: repeat(1, auto) / repeat(7, auto);
}
}

.column {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    font-size: 28px;
    font-weight: 700;
    font-family: $arima;
    color: black;
    margin-bottom: 20px;
}

.button {
    display: flex;

}

.submitButton {
    display: flex;
    margin-right: 10px;
}

.themeDark {
    background-color: $darkThemeMain;
}

.themeLight {
    background-color: $lightThemeMain;
}

.darkThemeText {
    color: $darkThemeText;
}

.lightThemeText {
    color: $lightThemeText;
}
.form {
    padding-bottom: 20px;
}
.btnWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    margin: 0 auto  ;
}