@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// font-family: 'Roboto', sans-serif;

// @import url("https://fonts.googleapis.com/css2?family=Arima:wght@400;500;600;700&display=swap");
// font-family: 'Arima', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');
// font-family: 'Montserrat Alternates', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
// font-family: 'Rubik Moonrocks', cursive;

$roboto: "Roboto", sans-serif;
$arima: 'Montserrat Alternates', sans-serif;
$rubic: "Rubik Moonrocks", cursive;

$brown: #dfbb9d;
$belge: #f7e2d6;
$teal: #9dd6df;
$purple: #9c27b0;
$darkTheme: #897773;
$darkThemeText: rgb(219, 198, 161);
$darkThemeMain: rgb(173, 151, 146);
$lightTheme: rgb(179, 149, 98);
$lightThemeText: rgb(66, 65, 64);
$lightThemeMain: rgb(255, 239, 209);